/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  /*文本颜色*/
  color: var(--color-text);
  /*背景颜色*/
  background: var(--color-background);
  /*当颜色改变的时候的过渡时间*/
  transition:
    color 0.5s,
    background-color 0.5s;
  /*行高*/
  line-height: 1.6;
  /*这个属性指定了文本的字体系列。在这个规则中，一系列字体名称被列出，从第一个字体开始，如果用户设备上没有安装该字体，则依次尝试后面的字体。*/
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  /*文本大小*/
  font-size: 15px;
  /*这个属性指定了文本呈现的方式，以优化可读性。它告诉浏览器使用最佳的文本渲染方式来显示字体*/
  text-rendering: optimizeLegibility;
  /*这个属性用于在WebKit浏览器中启用字体抗锯齿。它使字体边缘更平滑，提供更好的显示效果*/
  -webkit-font-smoothing: antialiased;
  /*这个属性用于在Firefox浏览器中启用字体抗锯齿。它也使字体边缘更平滑，提供更好的显示效果*/
  -moz-osx-font-smoothing: grayscale;
}

body::after{
  /* 定位颜色 */
  background: rgba(0, 255, 255, 0.5);
}

/*Fonts*/
@font-face {
  font-family: 'Fredoka-Medium';
  src: url('@/assets/fonts/Fredoka-Medium.ttf') format('opentype');
  font-weight: 700;
}
