@import './base.css';

#app {
  max-width: 1280px;
  /*这个属性设置了元素的上下外边距为0，左右外边距自动居中。这将使元素在水平方向上居中对齐*/
  margin: 0 auto;
  /*这个属性设置了元素的内边距为2个"rem"单位。内边距是指元素内容与元素边框之间的空间*/
  padding: 1.4rem;
  /*这个属性设置了元素的字体粗细为正常（默认值），取消了任何已经应用的粗体样式*/
  font-weight: normal;
  /*避免移动端背景的过度滑动*/
  /*overflow: hidden;*/
}

/*这是一个复合选择器，选择了所有的锚元素（a）和具有"class"属性为"green"的元素，并为它们定义了一系列共同的样式属性*/
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/*这是一个媒体查询规则，它只在支持鼠标悬停的设备上应用。在这个规则中，被选择的元素是a:hover，表示鼠标悬停在锚元素上时的样式*/
@media (hover: hover) {
  a:hover {
    /*这个属性设置了被选择元素的背景颜色为一种半透明的HSLA颜色值。当鼠标悬停在锚元素上时，元素的背景颜色将变为半透明的效果*/
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/*这是另一个媒体查询规则，它只在窗口宽度大于等于1024像素时应用。在这个规则中，被选择的元素是body，表示整个网页的样式。*/
@media (min-width: 1024px) {
  body {
    /*这个属性将body元素的显示方式设置为弹性容器，使其内部的元素可以使用弹性布局*/
    display: flex;
    /*这个属性将body元素的子元素在弹性容器中水平和垂直居中对齐。*/
    place-items: center;
  }

  #app {
    /*这个属性将#app元素的显示方式设置为网格布局，使其内部的子元素可以使用网格布局*/
    /*display: grid;*/
    /*这个属性设置了网格布局的列模板，将#app元素的内容分为两列，每列的宽度相等*/
    /*grid-template-columns: 1fr 1fr;*/
    /*这个属性设置了#app元素的内边距，左右各为2个rem单位，上下为0。*/
    /*padding: 0 2rem;*/
  }
}
